{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-relative-packages": "off",
    "import/prefer-default-export": "off",
    "no-continue": "off",
    "react/jsx-props-no-spreading": "off",
    "no-restricted-syntax": "off"
  },
  "overrides": [
    {
      "files": ["packages/**/*.ts", "packages/**/*.tsx"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/naming-convention": "off"
      }
    }
  ]
}
