# compiled output
dist/
storybook-static/

# Logs
logs
*.log

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Next.js build output
.next
out

### VisualStudioCode ###
.vscode/*

# Coverage directory used by tools
coverage

# Turbo
.turbo

# Env
.env

## Panda
!./styled-utils/package.json
styled-utils-studio